<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VentOS Interface</title>
</head>

<body>
    <h1>Control Page</h1>
    <form method="post" action=".">
        {% csrf_token %}
        {{form.as_p}}
        <button type="submit" , name="post">Post Command</button>
    </form>
    Please refer to the <a href="https://github.com/PubInv/PIRCS-pubinv-respiration-control-standard/blob/master/PIRCS.md">PIRCS</a> standard for a detailed description of meaning of possible entries.

    The following values are a command (C) to set the Target (T) Pressure (P) to 25 cmH2O (we transfer integral number of cmH2O times 10, or mmH2O):
<pre>
{ "com": "C",
  "par" : "P",
  "int" : "T",
  "mod" : 0,
  "val" : 250
    }
</pre>

To test this programmatically, use can use anything that makes a post such as curl:
<pre>
curl -d "com=C&amp;par=P&amp;int=42&amp;mod=0&amp;val=250" -X POST http://127.0.0.1:8000/control/
  </pre>
</body>

</html>
